---
- name: Install ufw
  ansible.builtin.apt:
    name: ufw
    state: present
    update_cache: true

- name: Default deny incoming
  community.general.ufw:
    direction: incoming
    policy: deny

- name: Default allow outgoing
  community.general.ufw:
    direction: outgoing
    policy: allow

- name: Allow SSH from allowed CIDRs
  community.general.ufw:
    rule: allow
    port: "22"
    proto: tcp
    from_ip: "{{ item }}"
  loop: "{{ ufw_ssh_allowed_cidrs }}"

- name: Enable ufw
  community.general.ufw:
    state: enabled

