---
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600

- name: Install baseline packages
  ansible.builtin.apt:
    name: "{{ baseline_packages }}"
    state: present

- name: Enable sysstat
  ansible.builtin.service:
    name: sysstat
    enabled: true
    state: started
